<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Agregar categoria" icon="pi pi-plus" class="p-button-info mr-2" (click)="openRegister()"></button>
                    </div>
                </ng-template>

                <!--<ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>-->
            </p-toolbar>

            <p-table #dt [value]="categoria" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['nombre','categoria.nombre']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} de {totalRecords}" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">MANTENIMIENTO DE CATEGORIAS</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="idcategoria">ID <p-sortIcon field="idcategoria"></p-sortIcon></th>
                        <th pSortableColumn="nombre">Nombre<p-sortIcon field="nombre"></p-sortIcon></th>
                        <th pSortableColumn="descripcion">Descripción <p-sortIcon field="descripcion"></p-sortIcon></th>
                        <th pSortableColumn="estado">Estado<p-sortIcon field="apellido"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-categoria>
                    <tr>
                        <td style="width:10%; min-width:1rem;"><span class="p-column-title">ID</span>
                            {{categoria.idcategoria}}
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Nombre</span>
                            {{categoria.nombre}}
                        </td>
                        <td style="width:25%; min-width:50rem;">
                            <span class="p-column-title">Descripción</span>
                            {{categoria.descripcion}}
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">estado</span>
                            {{ boolToString(categoria.estado)}}
                        </td>
                        <td >
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-info mr-2" (click)="loadUser(categoria.idcategoria)" (click)="openUpdate()"></button>
                                <button id="botonEliminar" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="onDelete(categoria.idcategoria)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
<p-dialog [(visible)]="registerDialog" header="AGREGAR NUEVA CATEGORIA" [style]="{ width: '600px',  'margin-left': '-25%2' }" [modal]="true" (onHide)="onCloseDialog()"
    class="p-fluid" style="
        background: linear-gradient(
            180deg,
            var(--primary-color) 10%,
            rgba(33, 150, 243, 0) 30%
        );
    ">
    <div style="border-radius: 80px; padding: 0.3rem">
        <div class="w-full surface-card py-8 px-5 sm:px-8">
            <form [formGroup]="categoriaForm">
                <div>
                    
                        <div class="field" style="width: 350px;">
                            <label for="firstname">Nombre</label>
                            <input id="nombre" formControlName="nombre" type="text" required pInputText />
                            <small class="p-error" *ngIf="categoriaForm.get('nombre').hasError('required') &&categoriaForm.get('nombre').touched">
                                Ingrese nombre de categoria.</small>
                        </div>
                        <div class="field" style="width: 350px;">
                            <label for="firstname">Descripción</label>
                            <textarea rows="5" cols="30" pInputTextarea formControlName="descripcion"></textarea>
                            <small *ngIf="categoriaForm.get('descripcion').hasError('required') &&categoriaForm.get('descripcion').touched" class="p-error">
                                Ingrese una descripcion.</small>
                        </div>      
                        <div class="field" style="width: 350px;" hidden>
                            <label for="firstname">Nombre de usuario</label>
                            <input id="estado" formControlName="estado" type="text"  [(ngModel)]="booleano" pInputText/>
                        </div> 
                </div>
            </form>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <div class="field">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="onClose()"></button>
            <button pButton pRipple label="Guardar" icon="pi pi-save" (click)="crear()"></button>
        </div>
    </ng-template>
    
    
</p-dialog>
<p-dialog [(visible)]="updateDialog" header="ACTUALIZAR INFORMACIÓN DE CATEGORIA" [style]="{ width: '600px',  'margin-left': '-25%2' }" [modal]="true" (onHide)="onCloseDialog()"
    class="p-fluid" style="
        background: linear-gradient(
            180deg,
            var(--primary-color) 10%,
            rgba(33, 150, 243, 0) 30%
        );
    ">
    <div style="border-radius: 80px; padding: 0.3rem">
        <div class="w-full surface-card py-8 px-5 sm:px-8">
            <form [formGroup]="categoriaForm">
                <div>
                    <div class="field" style="width: 350px;" hidden>
                        <label for="firstname">Nombre de usuario</label>
                        <input id="idcategoria" formControlName="idcategoria" type="text" pInputText/>
                    </div>
                        <div class="field" style="width: 350px;">
                            <label for="firstname">Nombre</label>
                            <input id="nombre" formControlName="nombre" type="text" required pInputText />
                            <small class="p-error" *ngIf="categoriaForm.get('nombre').hasError('required') &&categoriaForm.get('nombre').touched">
                                Ingrese nombre de categoria.</small>
                        </div>
                        <div class="field" style="width: 350px;">
                            <label for="firstname">Descripción</label>
                            <textarea rows="5" cols="30" pInputTextarea formControlName="descripcion"></textarea>
                            <small *ngIf="categoriaForm.get('descripcion').hasError('required') &&categoriaForm.get('descripcion').touched" class="p-error">
                                Ingrese una descripcion.</small>
                        </div>       
                        <div class="field" style="width: 350px;" hidden>
                            <label for="firstname">Nombre de usuario</label>
                            <input id="estado" formControlName="estado" type="text" pInputText/>
                        </div>
                </div>
            </form>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <div class="field">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="onClose()"></button>
            <button pButton pRipple label="Guardar" icon="pi pi-save" (click)="actualizar()"></button>
        </div>
    </ng-template>
    
    
</p-dialog>
